* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  vertical-align: baseline;
  text-decoration: none;
  list-style-type: none;
}

/* GENERAL */

html {
  font-size: 12px;
}

body {
  font-family: 'Raleway', Arial, sans-serif;
}

.container {
  width: 1000px;
  margin: 0 auto;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  position: relative;
}

header, footer, section {
  width: 100%;
}

.floatRight {
  float: right;
}

.floatLeft {
  float: left;
}

.clearfix:before, .clearfix:after {
  content: '';
  clear: both;
  display: block;
}

.txtToUppercase {
  text-transform: uppercase;
}

.highlighted {
  color: #24ba9f;
  font-weight: 700;
}

.description {
    width: 100%;
    height: 60px;
    position: absolute;
    background-color: rgba(255,255,255, 0.5);
    margin-top: 40%;
}

.description_titles {
    border-bottom: 5px solid #24ba9f;
    font-size: 1.3rem;
    line-height: 25px;
    margin: 10px 0 0 15px;
    font-weight: 600;
    color: #575757;
}
/* HEADER */

body > header {
  background-color: black;
  height: 50px;
  line-height: 50px;
}

header a {
  color: white;
  font-weight: 500;
  line-height: 30px;
}

.header__logo a {
  display: inline-block;
  font-size: 14px;
}

nav >ul {
  position: relative;
}

nav > ul > li {
  padding-right: 20px;
  display: inline-block;
}

nav > ul > li:last-child {
  padding-right: 0px;
}

nav > ul > li a:hover {
  border-bottom: 2px solid #24ba9f;
}

nav ul.submenu {
  display: none;
  background: transparent;
  position: absolute;
  padding-top: 10px;
  line-height: initial;
  margin-top: -10px;
  margin-left: -45px;
}

nav ul.submenu li {
  position: relative;
  width: 65%;
  z-index: 1;
  padding-left: 10px;
  background-color: black;
  float: left;
}

nav ul.submenu li:first-of-type {
  padding-top: 10px;
}

nav ul.submenu li:last-of-type {
  padding-bottom: 10px;
}

nav ul.submenu li a:hover {
  color: #24ba9f;
  border-bottom: none;
}

nav>ul li:hover .submenu {
  display:block;
}

nav ul.submenu span:after {
/* trójkącik*/
}

/* SECTION SLIDER */
#slider {
  background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 73%, rgba(0,0,0,0) 75%, rgba(0,0,0,0.15) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0) 73%,rgba(0,0,0,0) 75%,rgba(0,0,0,0.15) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0) 73%,rgba(0,0,0,0) 75%,rgba(0,0,0,0.15) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#3b000000',GradientType=0 ); /* IE6-9 */
  height: 320px;
}

.slider {
  position: relative;

}
.slideshow {
    width: 45%;
}

.slider_image {
  display: inline-block;
  width: 85%;
  height: auto;
  margin-left: 90px;
  margin-top: 40px;
  background-color: rgba(0,0,0, 0.0);
}

.slider_text {
    display: inline-block;
    width: 45%;
}

.slider_ul {
    position: relative;
}

.slider_ul li {
    /*margin-bottom: 40px;
    margin-left: 40px;*/
}

.slide_size {
    height: 250px;
    width: auto;
}

.slide {
    position: absolute;
    left: 0px;
    top: 0px;
    margin-bottom: 50px;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: 1;
    -webkit-transition: opacity 1s;
    -moz-transition: opacity 1s;
    -o-transition: opacity 1s;
    transition: opacity 1s;
}

.showing {
    z-index: 2;
    opacity: 1;
}

.slider_text {
  margin-top: 40px;
  position: relative;
}

.slider_text h2 {
  font-size: 40px;
  text-align: center;
  line-height: 80px;
}

.slider_text p {
  text-align: center;
  font-weight: lighter;
  color: gray;
  font-size: 1.2em;
  line-height: 22px;
  padding: 0 10px 0 10px;
}

.slider_button a {
  display: block;
  background-color: #24ba9f;
  border-radius: 5px;
  width: 250px;
  line-height: 50px;
  font-size: 30px;
  color: white;
  font-weight: lighter;
  text-align: center;
  margin-top: 25px;
  position: absolute;
  left: 100px;
}

.arrows {
  z-index: 1;
  width: 100%;
  height: 70px;
  margin-top: 12%;
  position: absolute;
}

.arrow {
   font-size: 60px;
   line-height: 70px;
   cursor: pointer;
}
/* SECTION PRODUCTS */
.product_img_box {
    width: 32%;
    height: 200px;
    position: relative;
    /*position: absolute;*/
    display: inline-block;
    margin: 30px 16px 30px 0;
}

.product_img_box p{
    width: 45%;
}

.first_img, .second_img {
    background-size: cover;
    background-position: center;
}

.first_img {
    background-image: url("../images/box1_img.jpg");
}

.second_img {
    background-image: url("../images/box2_img.jpg");
}

.product_frame {
    border: 1px solid;
    border-color: rgba(0,0,0,0.3);
    width: 32%;
    height: 200px;
    display: inline-block;
    margin: 30px 0 30px 0;
    padding: 10px 20px 20px 20px;
    vertical-align: top;
}

.product_frame .description_titles {
    width: 60%;
    margin-left: 0;
}

.product_frame p {
    line-height: 16px;
    margin-bottom: 15px;
}
/*.product_img_box>.description:hover {
    display: none;
}*/
/* SECTION OFFER */
#offer {
    background-color: hsl(0, 0%, 95%);
    height: 630px;
    padding-top: 15px;
    padding-bottom: 30px;
}

#offer .description_titles {
    width: 31%;
    margin-left: 0;
}
/* wrappery*/
.offer_box {
    width:31%;
    height: auto;
    display: inline-block;
    margin-right: 21px;
}

.wrapper {
  width: 100%;
  height: 480px;
  position: relative;
  border: 2px solid #bfbfbf;
  margin-top: 50px;
  margin-bottom: 50px;
  text-align: center;
  background-color: hsl(0, 0%, 97.5%);
  vertical-align: baseline;
}

.wrapper:hover {
    border: 2px solid #24ba9f;
    background-color: #24ba9f;
}

.circleEmpty {
  width: 60px;
  height: 60px;
  border: 2px solid #bfbfbf;
  border-radius: 50%;
  position: relative;
  position:absolute;
  background-color: white;
  margin: auto;
  top: -480px;
  bottom: 0;
  left: 0;
  right: 0;
}

.circleFull {
  width: 30px;
  height: 30px;
  background-color: #bfbfbf;
  border-radius: 50%;
  margin: auto;
  top: 0;
  bottom: 0;
  left:0;
  right: 0;
  position: absolute;
}

.wrapper h3 {
  text-transform: uppercase;
  font-size: 1.5rem;
  font-weight: 600;
  margin-top: 50px;
  margin-bottom: 30px;
  color: #24ba9f;
}

.circle_price {
    border: 2px solid #a6a6a6;
    border-radius: 50%;
    height: 120px;
    width: 120px;
    background-color: white ;
    /*position: absolute;*/
    margin: 0 auto;
    padding: 30px 0 10px 0;
    color: #a6a6a6;
}

.circle_price p {
    color: #a6a6a6;
    font-size: 1.5rem;
    text-transform: uppercase;
    margin-top: -10px;
}

.circle_price sub {
    vertical-align: top;
    font-size: 1.4rem;
}

.wrapper p {
    width: 100%;
    line-height: 30px;
    font-size: 1.1rem;
    color: #a6a6a6;
}

.wrapper a {
    display: inline-block;
    background-color: #24ba9f;
    padding: 0 20px;
    color: white;
    height: 30px;
    line-height: 30px;
    font-size: 1.2rem;
    text-decoration: none;
    font-weight: 500;
    border-radius: 5%;
    position: absolute;
    right: 35%;
    bottom: 15px;
}

.wrapper ul {
    margin-top: 30px;
    position: absolute;
    width:100%;
}

.wrapper ul li {
    line-height: 35px;
    font-size: 1.4rem;
    color: #999999;
    text-align: center;
    background-color: #f2f2f2;
}

.wrapper ul li:nth-of-type(2n+1) {
    background-color: #e6e6e6;
}
.text_big {
    font-size: 3.5rem;
    font-family: Arial;
    padding-top: 20px;
    font-weight: bold;
}

/* wrapper hover*/
.offer_box:hover a {
    background-color: white;
    color: #24ba9f;
}

.offer_box:hover .circleEmpty {
    border: 2px solid #24ba9f;
    background-color: #24ba9f;
}

.offer_box:hover .circleFull {
    background-color: white;
}

.offer_box:hover .circle_price {
    border-color: white;
    color: #24ba9f;
}

.offer_box:hover h3 {
    color: white;
}

.offer_box:hover p {
    color: #24ba9f;
}

/*section APPLICATION*/
#application {
  background-color: #f9f9f9;
  padding: 30px 0;
}

#application header.align_right{
  text-align: right;
}

#application .description_titles {
    margin-left: 0;
}

.inline {
  display:inline-block;
  width:33%;
  padding:10px;
  vertical-align: top;
}

.form {
  margin-top:50px;
}
.drop_down_list {
  border:1px solid #8de0d2;
  width: 100%;
  height:38px;
  background-color: white;
  margin-top:22px;
  padding: 8px 12px;
  position: relative;
}

.list_label {
  font-size: 1.5rem;
  color: #e2e2e2;
  font-family: Arial, Tahoma, sans-serif;
}

.show {
    display: block;
}

.checkbox {
  position: relative;
  padding: 30px 30px 30px 0;

}
.checkbox input {
  display: block;
  opacity: 0;
  height: 48px;
  position: absolute;
  width: 48px;
  cursor: pointer;
  background-color: white;
}

.checkbox label {
  display: block;
  padding-left: 50px;
  position: relative;
  font-size: 1.6rem;
  color: #cecece;
  line-height: 120%;
  padding-top: 8px;
  cursor: pointer;
}

.checkbox label::before, .checkbox label::after {
  border: 1px solid #27c7ab;
  content: "";
  display: block;
  left: 0;
  height: 35px;
  position: absolute;
  width: 35px;
  top: 0;
}
.checkbox label::after {
  background: url("data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20xmlns%3Axlink%3D%22http%3A//www.w3.org/1999/xlink%22%20preserveAspectRatio%3D%22xMidYMid%22%20width%3D%2233.875%22%20height%3D%2233%22%20viewBox%3D%220%200%2033.875%2033%22%3E%0A%20%20%3Cpath%20d%3D%22M9.470%2C15.209%20L14.061%2C24.104%20C14.061%2C24.104%2021.522%2C6.026%2033.287%2C-0.000%20C33.000%2C4.304%2031.852%2C8.035%2033.861%2C12.626%20C28.696%2C13.774%2018.078%2C26.687%2014.635%2C33.000%20C9.756%2C26.974%204.017%2C22.382%20-0.000%2C20.948%20L9.470%2C15.209%20Z%22%20fill%3D%22%2327c7ab%22/%3E%0A%3C/svg%3E%0A") no-repeat center;
  border: 0;
  display: none;
}

.checkbox input:checked + label::after {
  display: block;
}

.active {
  background: url('../images/form_ok.jpg');
  width: 35px;
  height: 20px;
}

.inline_text {
  display: inline-block;
  width: 228px;
  vertical-align: top;
  margin-top: 30px;
  margin-left: 15px;
  color: #aeaeae;
}

.image_part img{
  margin-top: 110px;
  margin-left: 25px;
}

/*
#application .green_bell {
  background-color: #24baa0;
  width: 200px;
  height: 6px;
  display: inline-block;
  margin: 5px 0 5px 0;
}*/

.summary_panel {
  background-color: white;
  width:100%;
  height:195px;
  padding:10px;
  margin-top: 50px;

}

#application .green_button {
  background-color: #27c7ab;
  color: white;
  text-align:center;
  text-transform: uppercase;
  width: 200px;
  padding: 10px 30px;
  font-size: 24px;
  display: inline-block;
  font-family: 'ralewaymedium', Arial, Tahoma, sans-serif;
  margin-top: 20px;
  margin-left: 55px;
  border-radius: 8px;
  text-decoration: none;
}
.panel_left {
  display: inline-block;
  width: 180px;
  vertical-align: top;
  padding-bottom:10px;
  border-bottom:1px solid #e7e7e7;
  height: 135px;
}

.panel_right {
  display: inline-block;
  width: 100px;
  border-left:1px solid #e7e7e7;
  text-align: right;
  vertical-align: top;
  padding-bottom:10px;
  border-bottom:1px solid #e7e7e7;
  height: 135px;
}

.panel_left h4 , .panel_right h4{
  color: #24baa0;
  font-size: 1.5rem;
}

.panel_left span{
  margin-top:10px;
  font-size: 1.3rem;
  color: #5b5a5a;
  display: block;
}

.panel_right span {
  display: block;
  font-size: 1.3rem;
  color: #24baa0;
  margin-top:10px;
}
.sum_label{
  display: inline-block;
  width: auto;
  margin-top: 10px;
  font-size: 1.6rem;
  color: #5b5a5a;
}

.sum {
  display: inline-block;
  width: 100px;
  text-align: right;
  margin-top: 10px;
  font-size: 1.6rem;
  color: #24baa0;
}

.list_arrow {
  width: 0;
  height: 0;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-top: 15px solid #24baa0;
  display:block;
  position: absolute;
  right: 10px;
  top: 13px;
  cursor: pointer;
}

.list_panel {
  background-color: white;
  border: 1px solid #ccc;
  width: 100%;
  padding-left: 15px;
  padding-bottom: 10px;
  list-style: none;
  margin: 0;
  left: 0px;
  z-index: 2;
  position: absolute;
  top: 36px;
  display: none;
}

.list_panel li {
  margin-top:10px;
  cursor: pointer;
  color: #585858;
}

.list_panel li:hover {
  margin-top:10px;
  cursor: pointer;
  color: #27c7ab;
 }


.title {
  height: 30px;
}

.show {
    display: block;
}

/* SECTION contact*/
#contact {
    width: 100%;
    background-color: white;
    padding-top: 15px;
    height: 380px;
}

#contact .description_titles {
    width: 31%;
    margin-left: 0;
}

.form_left {
    width: 60%;
    float: left;
    height: 300px;
}

.form_right {
    width: 38%;
    height: 300px;
    float: right;
    padding-left: 20px;
}

input[type=text], input[type=email], textarea {
    border: 1px solid #24ba9f;
    border-radius: 2%;
    width: 100%;
    margin: 10px 0;
    font-family: inherit;
    font-size: 1.4rem;
    padding-left: 10px;
}

input[type=text], input[type=email] {
    height: 40px;
}

input[type=text] {
    margin-top: 30px;
}
textarea {
    height: 140px;
    margin-bottom:0;
}

input:active, textarea:active {
    box-shadow: 0 1px 2px rgba(36, 186, 159,0.1);
}
.form_img {
    width: 100%;
    height: 180px;
    background-image: url('../images/red_chair.png');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    margin-bottom: 20px;
}

input[type=checkbox] {
    width: 30px;
    height: 30px;
    border: 1px solid #24ba9f;
    background-color: white;
    -webkit-appearance: none;
    cursor: pointer;
}

input[type=checkbox]:checked {
    background-image: url('../images/form_ok.jpg');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.form_right span {
    font-size: 1.2rem;
    color: gray;
    padding-left: 15px;
    margin-bottom: 15px;
    display: inline-block;
    width: 80%;
}

input[type=submit] {
    font-size: 1.5rem;
    width: 100%;
    line-height: 2.5rem;
    padding: 5px;
    display: block;
    background-color: #24ba9f;
    color: white;
    border-radius: 5px;
    border: none;
    text-transform: uppercase;
    cursor: pointer;
}

/* FOOTER */
footer {
    width: 100%;
    background-color: white;
    height: 100px;
}
.copyright {
    display: inline-block;
    height: 80px;
}

.copyright span {
    line-height: 80px;
    color: gray;
}
.footer_icon {
    height: 30px;
    width: 30px;
    display: inline-block;
    margin: 5px;
    margin-top: 15px;
}

.icons {
    display: inline-block;
    margin-top: 10px;
}

.footer_logo {
    display: inline-block;
    margin-left: 40px;
}

.footer_logo a {
    line-height: 70px;
    font-size: 1.2rem;
    font-weight: 500;
    color: gray;
}

.footer_logo span {
    font-weight: 700;
}
